*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fdf4e2;
	font-family: 'Poppins', 'Trebuchet MS', sans-serif;
	color: #291b04;
}

/* Header */

header {
    background: #c2b161;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 a img{
	max-width: 100%;
	display: block;
	padding: 0.5em 0px;
}

header h1 a img:hover {
	filter: brightness(0) saturate(100%) invert(15%) sepia(66%) saturate(3201%) hue-rotate(333deg) brightness(93%) contrast(93%);
}

nav ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	font-family: 'Rubik', sans-serif;
	font-size: 1.25rem;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

header nav ul li a:hover{
	color: #9e1e35;	
}


.dropdown {
    list-style: none;
    width: 100px;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
  }
   
.dropbtn {
	background-color: #c2b161;
	padding: 1em;
	border: none;
	cursor: pointer;
}

.dropbtn img{
	width: 32px;
	display: block;
	filter: invert(1);
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #c2b161;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-top: 59px;
  }
  
  
  .dropdown-content a {
    color: white;
    padding: 12px 32px;
	min-width: 190px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {
	background-color: #9e1e35;
	color: white;
 }
   
  .dropdown:hover .dropdown-content {
    display: grid;
	text-align: center;
	gap: 8px;
  }
  
  
  .dropdown:hover .dropbtn {
    background-color: #9e1e35;
  }

/* Inicio */

#contenedorBienvenida video{
	width: 100%;
	display: block;
}

#contenedorBienvenida h2 {
    margin: auto;
    background-color: #291b04;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding: 0.75em;
	line-height: 1.2;
}

#resaltado {
    width: 80%;
    font-size: 2.25rem;
    color: #291b04;
    text-align: center;
    font-weight: bold;
    margin: 0.5em auto 0.75em auto;
	line-height: 1.2;
}

.contenedor {
	width: 80%;
	margin: auto;
}

.contenedor ul {
	text-decoration: none;
}

.contenedor h2{
	margin: 0.75em 0em 0.5em 0em;
	text-align: center;
	font-size: 2.25rem;
}

.contenidoInicio {
	background-color: #f8e5c0;
   	display: block;
   	margin: 1.5em 0em;
   	display: flex;
   	align-items: center;
	flex-direction: column;
}

.contenidoInicio figure{
	width: 100%;
}

.contenidoInicio figure img{
	max-width: 100%;
	display: block;
}

.textoContenedor {
    width: calc(100% - 2.5em);
    margin: 1.25em;
}

.textoContenedor h4 {
	text-align: center;
	font-size: 1.5rem;
	line-height: 1.2;
}

.textoContenedor p {
	text-align: center;
	font-size: 1rem;
	line-height: 1.8em;
	padding: 1rem 0px;
}

/* Sobre Nosotros */

#distribuidorContenido {
	background: #e6e6e6;
	color: #060122;
	padding: 1em;
	display: flex;
   	align-items: center;
	flex-direction: column;
	border: 4px solid #060122;
}

#distribuidorContenido figure {
	width: 50%;
}

#distribuidorContenido figure img {
	max-width: 100%;
	display: block;
}

.textoDistribuidor {
	padding: 1em;
}

.textoDistribuidor h3 {
	font-size: 1.75rem;
	padding: 0.4em 0em;
	text-align: center;
}

.textoDistribuidor p {
	font-size: 1.25rem;
	text-align: center;
	line-height: 1.8;
	padding: 0.4em 0em;
}

#contenidoDistribuidor {
	text-align: justify;
}



#equipo h3{
	font-size: 1.75rem;
	margin: 1.4em auto;
	text-align: center;
}

.grid-equipo {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.integranteEquipo {
	display: flex;
	align-items: center;
  	justify-content: center;
	flex-direction: column;
	margin: 24px auto;
}

#equipo ul li figure{
	width: 90%;
}

#equipo ul li figure img {
	clip-path: circle();
	max-width: 100%;
	display: block;
}

.textoEquipo {
	width: 95%;
}

#equipo h4{
	font-size: 1.5rem;
	padding: 0.4em 0em 0em 0em;
	text-align: center;
}

#equipo p{
	font-size: 1.25rem;
	padding: 0.4em 0em;
	text-align: center;
}

/* Galeria */

.contenedorAviso {
	width: 50%;
	margin: 2em auto;
	padding: 1.25em;
	background: #e6e6e6;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	color: #060122;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 4px solid #060122;
}

.contenedorAviso figure {
	width: 50%;
}

.contenedorAviso figure img {
	max-width: 100%;
	display: block;
}

.contenedorAviso div {
	display: block;
	order: -1;
}

.contenedorAviso div p {
	font-size: 1.2rem;
}

.llamadaAtencion {
	font-size: 2.5rem;
}

.subtitulo {
	text-align: center;	
	font-size: 1.25rem;
}

.grid-imagenes {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 1.25em 0em;
	gap: 1.5em;
	padding: 1em;
}

.imagenGaleria:hover {
	filter: opacity(0.8);
	transform: scale(1.05);
}

.imagenGaleria figure{
	width: 100%;
}

.imagenGaleria figure img{
	max-width: 100%;
	display: block;
}

/* Blog */

.grid-blog {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5em;
	margin: 1.25em 0em;
}

.grid-blog li figure{
	width: 100%;
}

.grid-blog li figure img{
	max-width: 100%;
	display: block;
	border-radius: 4px 4px 0px 0px;
}

.elementoBlog:hover {
	filter: opacity(0.8);
}

.textoBlog {
	background-color: #f8e5c0;
	display: flex;
	flex-direction: column;
	padding: 1em;
	border-radius: 0px 0px 4px 4px;
}

.textoBlog h3{
	line-height: 1.2;
	margin: 0px 0px 0.6em 0px;
}

.textoBlog p{
	line-height: 1.8;
}

@media screen and (max-width:773px){
	.textoBlog p{
		min-height: 115px;
	}
}

@media screen and (max-width:725px){
	.textoBlog p{
		min-height: 144px;
	}
}

/* Contacto */

.contacto {
	display: flex;
	flex-direction: column;
	width: 80%
}

.complementoForm {
	width: 100%;
	margin: 1.5em auto 0px auto;
	background: url("../imagenes/contacto/arteTunic.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.complementoForm p {
	padding: 1.5em;
	font-size: 1.25rem;
	line-height: 30px;
	color: white;	
}

.formulario {
	width: 100%;
	background: #c2b161;
	margin: 0px auto 1.5em auto;
	padding: 1em 0em 1em 0em;
}

.formulario h2 {
	color: #9e1e35;
	margin: 0.5em auto 0.5em auto;
	text-align: center;
	font-size: 2.5rem;
}

form{
	width: 80%;
	margin: auto;
}

form div label {
	font-weight: bold;
	font-size: 1.5rem;
}

form div p {
	font-weight: bold;
	font-size: 1.25rem;
}

form div input {
	font-family: 'Poppins', 'Trebuchet MS', sans-serif;
	border: none;
    height: 2em;
    padding: 4px;
	margin-top: 0.5em;
    margin-bottom: 1em;
    border-radius: 4px;
	width: calc(100% - 8px);
}

.checkBtn h3 {
	font-weight: bold;
	font-size: 1.5rem;
}

.checkBtn label {
	font-weight: bold;
	font-size: 1.25rem;
}

textarea {
    font-family: 'Poppins', 'Trebuchet MS', sans-serif;
    border: none;
    height: 6.25em;
    padding: 4px;
	margin-top: 0.5em;
	margin-bottom: 1em;
    resize: none;
    border-radius: 4px;
    width: calc(100% - 8px);
}

.contenedorArchivo {
	position: relative;
	padding: 10px;
	background-color: #9e1e35;
	width: 50%;
	border-radius: 4px;
	margin-top: 0.5em;
	margin-bottom: 1em;
	font-size: 13.333px;
}

.contenedorArchivo p {
	color: white;
	text-align: center;
	font-size: 1rem;
	font-weight: 100;
}

.contenedorArchivo input {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.checkBtn div{
	display: flex;
	text-align: center;
}

.checkBtn input{
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
}

#enviar {
	background-color: #9e1e35;
    color: white;
	height: 2.5em;
	margin: auto;
	font-size: 1rem;
	cursor: pointer;
	width: 100%;
}

textarea:focus,
input:focus {
	box-shadow: 
		0 0 0 5px #c2b161,
		0 0 0 10px #9e1e35;
}

/* Gracias */

.agradecimiento {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.agradecimiento figure{
	width: 50%;
}

.agradecimiento figure img{
	width: 100%;
	display: block;
}

.msjAgradecimiento {
	width: 80%;
	background: #e6e6e6;
	border: 4px solid #060122;
	color: #060122;
	display: flex;
	flex-direction: column;
	padding: 1em;
	margin: 1.5em auto;
}

.msjAgradecimiento h2 {
	text-align: left;
	line-height: 1.2;
	margin-bottom: 0.25em;
}

.msjAgradecimiento p {
	text-align: left;
	line-height: 1.8;
}

.bgImg {
	background-image: url(../imagenes/gracias/background3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Footer */

footer{
	background: #c2b161;
	margin: auto;
	padding: 1.25em 2em;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#redesFooter ul li{
	margin: auto 0.5em;
}

#redesFooter ul li a figure{
	width: 32px;
}

#redesFooter ul li a figure img{
	width: 100%;
	vertical-align: middle;
}

#redesFooter ul li a figure img:hover{	
	filter: brightness(0) saturate(100%) invert(15%) sepia(66%) saturate(3201%) hue-rotate(333deg) brightness(93%) contrast(93%);
}